
<!-- <section class="py-5">
  <gift-list
    [imageUrls]="giftService.trendingGifs()"
  />
</section> -->



<div class="h-screen overflow-y-scroll grid grid-cols-2 md:grid-cols-3 gap-4 mt-5"
  (scroll)="onScroll($event)"
  #groupDiv
>
  @for (gifs of giftService.trendingGifGroup(); track $index) {
    <div class="grid gap-4">
      @for (gif of gifs; track gif.id) {
        <div>
          <img class="h-full w-full rounded-lg object-cover"
            [src]="gif.imageUrl"
            [alt]="gif.title"
          >
      </div>
      }
    </div>
  }
</div>

