@import "tailwindcss";

@plugin "daisyui" {
  themes: night --default;
}

@theme {
  --font-montserrat: Montserrat, sans-serif;
  --animate-fade-in: fadeIn 0.3s ease-in-out
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: Montserrat;
  src: url('/assets/fonts/montserrat/MontserratAlternates-Medium.ttf') format('truetype');
}


